body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-image: url("/6243378.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;  
}